<a href="/">Home</a>
<h1>You Have Cancelled The Following Order</h1>
<p>Order Id: <%= data.customer_id %></p>
<p>Name: <%= data.name %></p>
<p>Street Name: <%= data.street_name %></p>
<p>Email ID: <%= data.email %></p>
<br>
<p>Package: <%= data.package %></p>

